<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <br /> <br /> <br />
    <h1 class="font-black text-4xl text-center">Enter your details to create account</h1>
    <br/>
    <form action="/register" method="post" class="text-center">
        <input type="text" placeholder="Enter your email" name="email" class="p-6 border-solid border-2 border-sky-500  rounded-2xl">
        <input type="password" placeholder="Password" name="password" class="p-6 border-solid border-2 border-sky-500  rounded-2xl">
        <input type="username" placeholder="Username" name="username" class="p-6 border-solid border-2 border-sky-500  rounded-2xl">
        <input type="number" placeholder="Age" name="age" class="p-6 border-solid border-2 border-sky-500  rounded-2xl">
        <button class="bg-teal-400 p-6 rounded-2xl">submit</button>
    </form>
</body>
</html>