<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br />
    <hr />
    <p class="p-10 bg-teal-400 italic text-3xl">Hii , I am Secret ..!</p>
    <hr />
</body>
</html>